*{
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 0px;
    background-color: lightcoral;
    font-size: 20px;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px;
    padding: 16px;
    background-color: pink;
    color: blue;

}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto;

}

.grid-item {
    color: pink;

    padding: 10px;
}

.no-underline-a-tag {
    text-decoration: none;
    color: lightcoral

}

.nav-a-tag{
    text-decoration: none;
    color: blue;
    font-size: 20px;
}

.website-name {
    color: lightcoral;
}

.item-name {
    color: lightcoral;
}

.ingredients {

}

tbody tr:nth-child(even){
    background-color: lightgray;

  }
